@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agrandir-Wide";
    src: url('./fonts/agrandir-regular-webfont.woff2') format('woff2'),
    url('./fonts/agrandir-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "Agrandir-Reg";
    src: url('./fonts/agrandir-widelight-webfont.woff2') format('woff2'),
    url('./fonts/agrandir-widelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
