body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
}

@font-face {
  font-family: "Agrandir-Wide";
  src: local("Agrandir"), url("./fonts/Agrandir-WideLight.otf") format("truetype")
}

@font-face {
  font-family: "Agrandir-Reg";
  src: local("Agrandir"), url("./fonts/Agrandir-Regular.otf") format("truetype")
}

.navBar {
  padding: 35px 0;
  background-color: #313131;
  border-bottom: 1px solid #FFD059;
  font-family: Agrandir-Wide;
  font-size: 20px;
  color: #fff;
}

.linkText {
  text-decoration: none;
  color: #fff;
  margin-right: 12%;
}

.active {
  text-decoration: underline;
  color: #FFD059;
}

#navTitle {
  margin-left: 3%;
  display:inline-flex;
  margin-right: 45%;
}

#navText {
  margin-left: 3%;
  display:inline-flex;
  flex-direction: row;
}
