@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agrandir-Wide";
  src: local("Agrandir"), url("./fonts/Agrandir-WideLight.woff2") format("woff2"), url("./fonts/Agrandir-WideLight.otf") format("truetype")
}

@font-face {
  font-family: "Agrandir-Reg";
  src: local("Agrandir"), url("./fonts/Agrandir-Regular.woff2") format("woff2"), url("./fonts/Agrandir-Regular.otf") format("truetype")
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
